<template>
  <div>
  <!--<Tutorial></Tutorial>-->
  <testulu></testulu>
  <composanttest></composanttest>
</div>
</template>


<script>

export default {
    name: "IndexPage",
    //components: { Tutorial }
}
</script>
